{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{% static 'css/login/registro.css' %}">
</head>
<body>
    <div class="contenedor">
        <div class="formulario">
            <form method="post">
                {% csrf_token %}
                <img src="{% static 'images/imagenes/logo.jpg' %}" alt="Logo">
                <h1>Registro de Usuario</h1>
                {{ form.as_p }}
                <button type="submit">Registrar</button>
                <p><a href="{% url 'login' %}">¿Ya tienes cuenta? Inicia sesión</a></p>
                <p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
            </form>
        </div>
    </div>
</body>
</html>
