{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  <link rel="icon" href="{% static '/images/imagenes/logo.jpg' %}" type="image/x-icon">

  <title>{% block title %}Walk App{% endblock %}</title>
  {% block extra_css %}{% endblock %}
</head>

<body>

  <!-- ================= NAVBAR ENCAPSULADO ================= -->
  <div class="navbar-wrapper">
    {% include 'html/partials/navbar.html' %}
  </div>
    <div class="navbar-space"></div>
  <!-- ================= CONTENIDO DE LA PÁGINA ================= -->
  <main class="main-wrapper">
    {% block content %}
    {% endblock %}
  </main>

  <!-- ================= JS GLOBAL ================= -->
  <script src="{% static 'js/menu.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  {% block extra_js %}{% endblock %}

  <!-- ================= FOOTER ================= -->
  {% include 'html/partials/footer.html' %}
</body>
</html>
