{% extends 'html/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/comunidad.css' %}">
{% endblock %}

{% block content %}

 <section class="comunidad-section">
    <h2 class="titulo">Comunidad</h2>
    <div class="cards-container">

      <div class="card">
        <div class="card-header">
          <img src="{% static 'images/comunidad/melqui.jpg' %}" alt="usuario">
          <h3>Melquicedec Mercado</h3>
        </div>
        <div class="card-body">
          <img src="{% static 'images/el morro/el_morro.jpg' %}" alt="Caminata">
          <div class="info">
            <h4>Ruta: El Morro </h4>
            <p>“Un Día de Paz y Naturaleza. ¡Súper Recomendado!”</p>
          </div>
        </div>
        <div class="card-footer">
          <span><i class="fa-solid fa-shoe-prints"></i> 5 Caminatas</span>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <img src="{% static 'images/comunidad/benavidez.jpg' %}" alt="usuario">
          <h3>Ronal Banavidez</h3>
        </div>
        <div class="card-body">
          <img src="{% static 'images/torre24/torre.jpg' %}" alt="Caminata">
          <div class="info">
            <h4>Ruta: Parque Principal(Torre del Reloj)</h4>
            <p>“Expeiencia Inolvidable ”</p>
          </div>
        </div>
        <div class="card-footer">
          <span><i class="fa-solid fa-shoe-prints"></i> 7 Caminatas</span>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <img src="{% static 'images/comunidad/kevin.jpg' %}" alt="usuario">
          <h3>Kevin Chikaiza </h3>
        </div>
        <div class="card-body">
          <img src="{% static 'images/tres cruces/cerro.jpg' %}" alt="Caminata">
          <div class="info">
            <h4>Ruta: Tres Cruces</h4>
            <p>“Un Reto Mas Cumplido”</p>
          </div>

        </div>
        <div class="card-footer">
          <span><i class="fa-solid fa-shoe-prints"></i> 2 Caminatas</span>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <img src="{% static 'images/comunidad/Kevin.png' %}" alt="usuario">
          <h3>Cristian Garzon  </h3>
        </div>
        <div class="card-body">
          <img src="{% static 'images/torre24/puente.jpeg' %}" alt="Caminata">
          <div class="info">
            <h4>Ruta: Puente el humilladero</h4>
            <p>“Meta Cumplida”</p>
          </div>
        </div>
        <div class="card-footer">
          <span><i class="fa-solid fa-shoe-prints"></i> 5 Caminatas</span>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <img src="{% static 'images/comunidad/Kevin.png' %}" alt="usuario">
          <h3>Juan Garcia  </h3>
        </div>
        <div class="card-body">
          <img src="{% static 'images/torre24/OIP.jpeg' %}" alt="Caminata">
          <div class="info">
            <h4>Ruta: Centro</h4>
            <p>“Conoci Mejor la Ciudad”</p>
          </div>
        </div>
        <div class="card-footer">
          <span><i class="fa-solid fa-shoe-prints"></i> 6 Caminatas</span>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <img src="{% static 'images/comunidad/Kevin.png' %}" alt="usuario">
          <h3>Julian Espinoza  </h3>
        </div>
        <div class="card-body">
          <img src="{% static 'images/imagenes/iglesia.jpg' %}" alt="Caminata">
          <div class="info">
            <h4>Ruta: Iglesia</h4>
            <p>“Monumento Extraurdinario”</p>
          </div>
        </div>
        <div class="card-footer">
          <span><i class="fa-solid fa-shoe-prints"></i> 2 Caminatas</span>
        </div>
      </div>

      

    </div>
  </section>

  {% endblock %}