{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Rutas de Senderismo</title>
    <link rel="stylesheet" href="{% static 'css/rutas.css' %}">
</head>
<body>
    <h1>Nuestras Rutas de Senderismo</h1>
    <ul>
        {% for ruta in rutas %}
            <li>
                <a href="{% url 'mi_app_registro:detalle_ruta' ruta.id %}">{{ ruta.nombre_ruta }}</a> - Dificultad: {{ ruta.dificultad }}
            </li>
        {% empty %}
            <li>No hay rutas disponibles para mostrar.</li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated and request.user.is_staff %}
    <p><a href="{% url 'mi_app_registro:crear_ruta' %}">Añadir Nueva Ruta</a></p>
    {% endif %}
</body>
</html>